body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.skip_color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

section {
    display: flex;
    margin-bottom: 30px;
}

.half_width {
    width: 50%;
    padding-left: 5%;

}

.half_width img {
    width: 80%;
    padding-right: 3px;
}

.about-me {
    background-image: url(images/7.png);
}

.one {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.two {
    text-align: center;
}

#new {
    display: grid;
}

.last {
    background-color: black;
    text-align: center;
}

.A {
    color: orange;
}

.B {
    color: azure;
}

.C {
    color: White;

}



.food-recipie {
    display: flex;
    padding: 20px;
    margin-bottom: 150px;
}

.food-recipietwo {
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 4px 4px 10px gray;
    border-radius: 15px;
}

.food-recipiethree {
    margin-top: -80px;
    padding: 5%;
}

.food-recipiethree p {
    font-size: 13px;
}

.food-recipietwo img {
    width: 70%;
    padding: 15%;
}

.sccond-last {
    display: flex;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.second-last {
    margin-left: 18%;
    margin-right: 18%;
    box-shadow: 3px 3px 5px gray;
    padding-left: 8%;
    border-radius: 20px;

}

.Junaed {
    width: 33.33%;
}

.Junaed p {
    line-break: normal;
}

h1 {
    font-size: 40px;
}